/*
 * Font faces, sizing and defaults
 */

// Typefaces
$arial: "Arial", sans-serif;

/**
* Fonts
*/
$font-name: "hind";
$font-name-nt: "newtransport";
$font-name-gara: "garamond";

$file-path: "fonts/";

// Newtransport
$file-path-nt: "fonts/newtransport/";

//Arapey
$file-path-gara: "fonts/garamond/";

$font-weight--light: "light";
$font-weight--regular: "regular";
$font-weight--medium: "medium";
$font-weight--semibold: "semibold";
$font-weight--bold: "bold";

/**
* Hind Light
*/
@include web-font(
  "#{$font-name}-#{$font-weight--light}",
  "#{$file-path}",
  "#{$font-name}-#{$font-weight--light}"
);

/**
* Hind Regular
*/
@include web-font(
  "#{$font-name}-#{$font-weight--regular}",
  "#{$file-path}",
  "#{$font-name}-#{$font-weight--regular}"
);

/**
* Hind Medium
*/
@include web-font(
  "#{$font-name}-#{$font-weight--medium}",
  "#{$file-path}",
  "#{$font-name}-#{$font-weight--medium}"
);

/**
* Hind Semibold
*/
@include web-font(
  "#{$font-name}-#{$font-weight--semibold}",
  "#{$file-path}",
  "#{$font-name}-#{$font-weight--semibold}"
);

/**
* Hind Medium
*/
@include web-font(
  "#{$font-name}-#{$font-weight--bold}",
  "#{$file-path}",
  "#{$font-name}-#{$font-weight--bold}"
);

/**
* NewTransport Regular
*/
@include web-font-nt(
  "#{$font-name-nt}-#{$font-weight--regular}",
  "#{$file-path-nt}",
  "#{$font-name-nt}-#{$font-weight--regular}"
);

/**
* NewTransport Medium
*/
@include web-font-nt(
  "#{$font-name-nt}-#{$font-weight--medium}",
  "#{$file-path-nt}",
  "#{$font-name-nt}-#{$font-weight--medium}"
);

/**
* Garamond Regular
*/
@include web-font-gara(
  "#{$font-name-gara}-#{$font-weight--regular}",
  "#{$file-path-gara}",
  "#{$font-name-gara}-#{$font-weight--regular}"
);

/**
* Garamond Regular
*/
@include web-font-gara(
  "#{$font-name-gara}-#{$font-weight--medium}",
  "#{$file-path-gara}",
  "#{$font-name-gara}-#{$font-weight--medium}"
);

/**
* Garamond Regular
*/
@include web-font-gara(
  "#{$font-name-gara}-#{$font-weight--semibold}",
  "#{$file-path-gara}",
  "#{$font-name-gara}-#{$font-weight--semibold}"
);

/**
* Typefaces
* @useage: font-family(primary, regular);
*/
$system-fonts: Helvetica, Arial, sans-serif;

$font-primary--light: "#{$font-name}-#{$font-weight--light}", $system-fonts;
$font-primary--regular: "#{$font-name}-#{$font-weight--regular}", $system-fonts;
$font-primary--medium: "#{$font-name}-#{$font-weight--medium}", $system-fonts;
$font-primary--semibold: "#{$font-name}-#{$font-weight--semibold}",
  $system-fonts;
$font-primary--bold: "#{$font-name}-#{$font-weight--bold}", $system-fonts;

/**
* NewTransport
*/
$font-primary-nt--regular: "#{$font-name-nt}-#{$font-weight--regular}",
  $system-fonts;
$font-primary-nt--medium: "#{$font-name-nt}-#{$font-weight--medium}",
  $system-fonts;

/**
* Arapey
*/
$font-primary-gara--regular: "#{$font-name-gara}-#{$font-weight--regular}",
  $system-fonts;
$font-primary-gara--medium: "#{$font-name-gara}-#{$font-weight--medium}",
  $system-fonts;
$font-primary-gara--semibold: "#{$font-name-gara}-#{$font-weight--semibold}",
  $system-fonts;

$font-families: (
  primary: (
    light: $font-primary--light,
    regular: $font-primary--regular,
    medium: $font-primary--medium,
    semibold: $font-primary--semibold,
    bold: $font-primary--bold,
  ),
  nt-primary: (
    regular: $font-primary-nt--regular,
    medium: $font-primary-nt--medium,
  ),
  garamond: (
    regular: $font-primary-gara--regular,
    medium: $font-primary-gara--medium,
    semibold: $font-primary-gara--semibold,
  ),
);

// Font sizes
$text-small: 1.4rem;
$text-regular: 1.6rem;
$text-medium: 2.2rem;
$text-large: 3rem;
$text-xlarge: 4rem;

// Font weights
$weight-regular: normal;
$weight-bold: bold;

// Global
$primary-font: $arial;
$primary-font-color: $text-color;
$primary-font-weight: $weight-regular;
$primary-font-size: $text-regular;
$primary-link-color: $text-color;
