/*
 * Scalable video utility to keep a video's aspect ratio responsively
 */

.u-video-aspect-ratio {
  position: relative;

  &--half-width {
    width: 50%;
  }

  &--full-width {
    width: 100%;
  }

  &::before {
    content: "";
    display: block;
    /* padding-top: 56.25%; */
  }

  &--portrait {
    width: 100%;

    &::before {
      content: "";
      display: block;
      padding-top: 170%;
    }

    @include media(">tablet") {
      &::before {
        padding-top: 55.45%;
      }
    }
  }

  &--two-videos {
    width: 100%;

    &::before {
      content: "";
      display: block;
      padding-top: 125%;
    }
  }

  iframe {
    /* height: 100%;
    left: 0;
    position: absolute;
    top: 0; */
    width: 100%;
  }
}

/* online exhibitions iframe */
.owl-item {
  .c-paralax-carousel-cover {
    position: inherit;
  }
  .u-video-aspect-ratio {
    iframe {
      position: absolute;
      top: 0;
      height: 622px;
      left: 0;
      width: 100%;
    }
  }
}

.u-video-aspect-ratio--portrait-centered {
  position: relative;
  max-width: 500px;
  margin: 0 auto;

  &--absolute {
    position: absolute;
  }

  &::before {
    content: "";
    display: block;
    padding-top: 177%;
  }
  iframe {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.online-exhibitions-template-default,
.online-exhibitions-template {
    .c-video-player {
      &--centered {
          margin: 0 auto -25px 0;
      .u-video-aspect-ratio {
            position: inherit;
      }
    }
  }
}
