# CLEANING THE REPOSITORY
# you can use a wildcard to remove all files, and then add all the files back, and then commit the updates.

#git rm -r --cached <file/folder>
# or
# $ git commit -m "Pre Cleanup"
# $ git rm -r --cached .
# $ git add .
# $ git commit -m ".gitignore setup and cleaned up"

/vendor/*
public_html/wp-content/uploads/*
public_html/wp-content/debug.log
public_html/wp-content/languages/
public_html/wp-content/uploads/gravity_forms/*
public_html/hot
public_html/.htaccess
.htpasswd
.env
mix.*.js
mix.js
/coverage
.vagrant
/bower_components
/node_modules
.DS_Store
__MACOSX/
*.sql
*.zip
Vagrantfile
yarn-error.log
composer.lock
yarn.lock
public_html/.htaccess
webpack.mix.js

!vendor/.gitkeep
!public_html/wordpress/.gitkeep
!public_html/wp-content/plugins/.gitkeep
!public_html/wp-content/themes/.gitkeep
!public_html/wp-content/mu-plugins/init.php
!public_html/wp-content/mu-plugins/acf_translator.php
!public_html/wp-content/mu-plugins/git_version.php
!public_html/wp-content/uploads/.gitkeep
!.env.example
public_html/mix-manifest.json
public_html/wp-content/themes/project-theme/assets/build/app.js
public_html/wp-content/themes/project-theme/assets/build/app.js
