# CLEANING THE REPOSITORY
# you can use a wildcard to remove all files, and then add all the files back, and then commit the updates.

#git rm -r --cached <file/folder>
# or
# $ git commit -m "Pre Cleanup"
# $ git rm -r --cached .
# $ git add .
# $ git commit -m ".gitignore setup and cleaned up"

/public/wordpress/*
!/public/wordpress/.gitkeep
/vendor/*
!/vendor/.gitkeep
/public/wp-content/plugins/*
!/public/wp-content/plugins/.gitkeep
/public/wp-content/mu-plugins/*
/public/wp-content/themes/assets/*
/public/wp-content/themes/twentysixteen/
/public/wp-content/themes/wp_starter_theme/
!/public/wp-content/themes/.gitkeep
!/public/wp-content/mu-plugins/init.php
!/public/wp-content/mu-plugins/acf_translator.php
!/public/wp-content/mu-plugins/git_version.php
/public/wp-content/uploads/*
/public/wp-content/debug.log
/public/wp-content/languages/
public_html/wp-content/uploads/gravity_forms/*
!/public/wp-content/uploads/.gitkeep
/public/hot
.env
mix.*.js
mix.js
!.env.example
/coverage
.vagrant
/bower_components
/node_modules
/public/wp-content/themes/*/assets/build
.DS_Store
__MACOSX/
*.sql
*.zip
Vagrantfile
yarn-error.log
composer.lock
yarn.lock