.c-button {
    color: $dark;
    padding: $spacing--x-small;
    display: inline-block;
    margin: $spacing--large 0;
    outline: solid 1px currentColor;
    @include set-font-size(1.4rem, 1.4rem, 1.4rem, 1.4rem);
    font-family: font-family(primary, medium);
    transition: padding ease-in-out 300ms;

    &:hover {
        padding: $spacing--x-small $spacing--x-medium;
    }
}