.c-blockquote {
  font-family: font-family(nt-primary, medium);
  @include set-font-size(2rem, 2rem, 2rem, 2rem);

  &--alt-font {
    font-family: font-family(garamond, medium);
    @include set-font-size(2.5rem, 2.5rem, 2.5rem, 2.5rem);
  }

  blockquote {
    background-color: palette(greys, xxx-light);
    line-height: 1.3;
    padding: $spacing--small;
    @include media(">phone") {
      padding: $spacing--large;
    }

    @include media(">phone") {
      display: flex;
      justify-content: center;
      align-items: center;
      vertical-align: middle;
    }

    img {
      width: 100%;
      display: block;
      float: left;
      margin-bottom: $spacing--small;
      @include media(">phone") {
        width: 130px;
        margin-bottom: 0;
      }
    }
    span {
      padding: $spacing--medium;
    }
    cite {
    }
  }
}
