.c-button {
    color: $dark;
    padding: 12px 25px;
    display: block;
    margin: 0 auto;
    border: solid 1px currentColor;
    @include set-font-size(1.4rem, 1.4rem, 1.4rem, 1.4rem);
    font-family: font-family(primary, medium);
    cursor: pointer; 
    user-select: none;
    border-radius: 4px;
    text-align: center;
 
    &--dark {
        background-color: #222222;
        color: white;
        display: block; 
        width: 100%;
        margin-top: 50px;
        
        &:hover {
            background-color: rgba(0, 0, 0, 0.1);
        }
    }
}

 