.c-button {
  @include set-font-size(1.4rem, 1.4rem, 1.4rem, 1.4rem);
  border-radius: 4px;
  border: solid 1px #d2d2d2;
  color: $dark;
  cursor: pointer;
  display: block;
  font-family: font-family(nt-primary, medium);
  margin: 0 0 $spacing--small;
  max-width: 260px;
  padding: 16px 25px;
  text-align: center;
  user-select: none;
  width: 100%;

  @include media(">tablet") {
    display: block;
    margin: 0 auto $spacing--small;
  }

  &--dark {
    background-color: #222222;
    color: white;
    &:hover {
      cursor: pointer;
      color: $dark;
      background-color: #d2d2d2;
    }
  }

  &--light {
    background-color: white;
    color: #222222;
    //margin-bottom: $spacing--tiny;
    &:hover {
      cursor: pointer;
      background-color: #d2d2d2;
      border: solid 1px #d2d2d2;
    }
  }
}

button:disabled,
button[disabled] {
  color: #adadad;
  cursor: default !important;

  &:hover {
    color: #adadad;
    background-color: white;
  }
}

.single-works {
  button:disabled,
  button[disabled] {
    $color: #696969;
    color: $color;
    border: solid 1px $color;
    cursor: default !important;

    &:hover {
      color: $color;
      background-color: transparent;
    }
  }
}

.cta-button {
  @include set-font-size(1.6rem, 1.6rem, 1.6rem, 1.6rem);
  background-color: palette(greys, xxx-light);
  border-radius: 4px;
  border: solid 1px #d2d2d2;
  color: $dark;
  cursor: pointer;
  display: inline-block;
  font-family: font-family(nt-primary, medium);
  margin: $spacing--small 0;
  padding: 11px 44px;
  text-align: center;
  user-select: none;
  &:hover {
    border: solid 1px $dark;
    color: white;
    background-color: $dark;
  }
}
