.c-footer {
    color: $white;
    background-color: $dark;
    padding: $spacing--small;
    text-align: center;

    @include media('>tablet') {
        height: 100px;
    }

    a {
        text-decoration: none;
        color: currentColor;

        &:hover {
            text-decoration: underline;
        }
    }

    small {
        font-size: 12px;
        color: lighten(grey, 10%);
        line-height: 1.5;
        display: block; 
    }
}  