/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 100; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.95);
}

/* Modal Content/Box */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d8d8d8;
  //margin: 10% auto; /* 15% from the top and centered */
  padding: 20px;
  position: relative;
  max-width: 768px;

  .c-header__icon {
    margin: 40px auto 20px;
    display: block;
    fill: #000;
  }

  .gfield_label {
    display: none;
    visibility: hidden;
  }

  [type="color"],
  [type="date"],
  [type="datetime"],
  [type="datetime-local"],
  [type="email"],
  [type="month"],
  [type="number"],
  [type="password"],
  [type="search"],
  [type="tel"],
  [type="text"],
  [type="time"],
  [type="url"],
  [type="week"],
  textarea,
  select {
    @include set-font-size(1.6rem, 1.6rem, 1.6rem, 1.6rem);
    border: 0;
    color: #1f1f1f;
    text-align: left;
    width: 100%;
    padding-left: 1rem;
    margin-bottom: 1rem;
    border-radius: 3px;
    height: 48px;
  }

  textarea {
    height: 120px;
  }

  small {
    @include set-font-size(1.4rem, 1.4rem, 1.4rem, 1.4rem);
    color: #1f1f1f;
    display: block;
    line-height: 1.4;
    padding-top: 20px;
    text-align: center;
  }

  .ginput_container_textarea textarea {
    line-height: 1.25;
    line-height: 1.4;
    padding-top: 10px;
  }

  .gform_button {
    background-color: #1f1f1f;
    border-radius: 3px;
    border: 1px solid #4a4a4a;
    color: #fff;
    font-size: 2rem;
    height: 48px;
    transition: opacity 0.2s ease 1s;
    width: 100%;
  }

  .error,
  .validation_error,
  .gfield_description.validation_message {
    color: red;
    font-size: 13px;
    text-align: left;
  }

  .gfield_description {
    margin-bottom: 10px !important;
    margin-top: -7px;
  }

  .gform_confirmation_wrapper {
    text-align: center;
  }
}

/* The Close Button */
.close {
  position: absolute;
  right: 7px;
  top: -7px;
  color: #000;
  font-size: 40px;
  font-weight: normal;
  display: block;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.wechat__content {
  background-color: #ffffff;
  padding: 20px;
  width: 300px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wechat__title {
  text-align: center;
  font-family: font-family(nt-primary, medium);
  font-size: 20px;
}

.gform_validation_container {
  display: none;
}

.ginput_recaptcha {
  margin-bottom: 20px;
}

.gfield_html_formatted {
  margin-bottom: $spacing--small;
}

.address-details {
  //padding-top: 5px;
  .gfield_label {
    display: block !important;
    visibility: visible !important;
    padding: $spacing--small 0 0;
  }

  [type="text"],
  select {
    margin: 10px 0 5px;
  }
}

.captcha {
  padding-top: $spacing--medium;
}

.gfield_required {
  color: red;
}
