.c-footer {
  color: $white;
  background-color: $dark;
  padding: $spacing--small;

  &__consent {
    text-align: center !important;
    max-width: 620px;
    line-height: 1;
    margin: 0 auto;
    padding-top: $spacing--tiny;
  }

  &__inner {
    margin: auto;
    padding: 0 $spacing--tiny;

    @include media(">desktop") {
      lost-utility: clearfix;
    }
  }

  &__column {
    display: inline;
    &:nth-of-type(1) {
      text-align: center;

      //Desktop
      @include media(">desktop") {
        text-align: left;
        float: left;
      }
    }

    &:nth-of-type(2) {
      //Desktop
      text-align: center;
      width: 100%;
      @include media(">desktop") {
        float: right;
        align-items: center;
        width: 270px;
      }
    }
  }

  a {
    text-decoration: none;
    color: currentColor;

    &:hover {
      text-decoration: underline;
    }
  }

  small {
    font-size: 12px;
    margin: 0 auto;
    color: lighten(grey, 10%);
    line-height: 1.2;
    max-width: 540px;

    a {
      text-decoration: underline;
    }
  }
}

.error404 {
  .c-footer {
    width: 100%;
    position: fixed;
    bottom: 0;
  }
}
