.c-footer {
    color: $white;
    background-color: $dark;
    padding: $spacing--small;

    &__inner {
        margin: auto;
        max-width: 1200px;
        
        @include media('>desktop') {
            lost-flex-container: row;
        }

    }

    &__column {

        &:nth-of-type(1) {
            text-align: center;
            width: 100%;
            //Desktop
            @include media('>desktop') {
                text-align: left;
                lost-column: 9/12;
            }

        }

        &:nth-of-type(2) {
            //Desktop
            @include media('>desktop') {
                //lost-column: 3/12;
                display: flex;
                align-items: center;
            }

        }
    }

    &__container {
        text-align: left;
    }

    a {
        text-decoration: none;
        color: currentColor;

        &:hover {
            text-decoration: underline;
        }
    }

    small {
        font-size: 12px;
        margin: 0 auto;
        color: lighten(grey, 10%);
        line-height: 1.2;
        max-width: 540px;

        a {
            text-decoration: underline;
        }
    }

}  
