.c-header {
  align-items: center;
  background-color: $dark;
  display: flex;
  height: 70px;
  justify-content: center;

  //Icon
  &__icon {
    fill: $white;
    flex: 1;
    width: 185px;
    height: 15px;
  }
}
