.c-header {
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  z-index: 3;
  top: 0;
  transform: translate3d(0, 0, 0);
  transition: ease 0.4s;
  background-color: $white;
  overflow: hidden;

  &__wrap {
    text-align: center;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid 1px palette(greys, xx-light);
    position: relative;
    @include media(">tablet") {
      height: 70px;
    }
  }

  //Link
  &__link {
    display: inline-block;
    width: 185px;
    height: 16px;

    @include media(">tablet") {
      margin-top: 5px;
    }

    &--left {
      position: absolute;
      left: $spacing--medium;
      top: 80px;
      transform: translate3d(0, 35px, 0);
      transition: ease 0.4s;
    }
  }

  //Icon
  &__icon {
    fill: $dark;
    flex: 1;
    width: 185px;
    height: 15px;
    margin: 0 auto;
  }
}

//menu open
.body--menu-is-expanded {
  margin-top: 45px;
  @include media(">tablet") {
    margin-top: 70px;
  }
  .c-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
  }
}

/**
* Parallax alpha 
*/
body {
  &.page-template-page-parallax-alpha {
    .c-header {
      background-color: transparent;
    }
  }
}
