.c-login {
    position: fixed;
    top: 0;
    bottom: -100px;
    left: 0;
    right: 0;
    z-index: 99;
    
    &--background-dark {
        background-color: $dark;
        color: white;
    }

    @include media('>tablet') {
        //height: calc(100vh - 392px);
      }
    
    &__footer {
        color: lighten(grey, 10%);
        text-align: center;
        display: block;
        width: 100%;
        font-family: font-family(primary, regular);
        padding-top: $spacing--small;
    }

    &__href {
        text-decoration: underline;
        color: currentColor;
    }

    &__detail {
        font-size: 14px;
    }
}

.tml-rememberme-wrap {
    padding: 0 $spacing--small;
}