.c-lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 4rem;
  z-index: 20;
  background: #fff;

  &__image {
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }

  &__close {
    position: absolute;
    right: 2rem;
    top: 2rem;
    width: 4rem;
    height: 4rem;

    svg {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}
