[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.c-meta {
    
    @include set-font-size(1.4rem, 1.4rem, 1.4rem, 1.4rem);
    line-height: 2;
    lost-column: 12/12;

    //Desktop
    @include media('>tablet') {
        lost-column: 3/12;
    }

    //Section
    &__section {
        padding: 0 $spacing--small $spacing--small;
    }

    //Title
    &__title {
        font-family: font-family(primary, semibold);
        text-transform: uppercase;
    }

    //Label
    &__label {
        font-family: font-family(primary, medium);
    }

    //Radio
    &__radio {
    }

}


/* Radio Buttons
   ========================================================================== */
   [type="radio"]:not(:checked),
   [type="radio"]:checked {
     position: absolute;
     opacity: 0;
     pointer-events: none;
   }
   
   [type="radio"]:not(:checked) + span,
   [type="radio"]:checked + span {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    -webkit-transition: .28s ease;
    transition: .28s ease;
    user-select: none;
   }
   
   [type="radio"] + span:before,
   [type="radio"] + span:after {
     content: '';
     position: absolute;
     left: 0;
     top: 0;
     margin: 4px;
     width: 14px;
     height: 14px;
     z-index: 0;
     transition: .28s ease;
   }
   
   /* Unchecked styles */
   [type="radio"]:not(:checked) + span:before,
   [type="radio"]:not(:checked) + span:after,
   [type="radio"]:checked + span:before,
   [type="radio"]:checked + span:after,
   [type="radio"].with-gap:checked + span:before,
   [type="radio"].with-gap:checked + span:after {
     border-radius: 50%;
   }
   
   [type="radio"]:not(:checked) + span:before,
   [type="radio"]:not(:checked) + span:after {
     //border: 2px solid $lighter;
     background-color: $lighter;
   }
   
   [type="radio"]:not(:checked) + span:after {
             transform: scale(0);
   }
   
   /* Checked styles */
//    [type="radio"]:checked + span:before {
//      border: 2px solid transparent;
//    }
   
   [type="radio"]:checked + span:after,
   [type="radio"].with-gap:checked + span:before,
   [type="radio"].with-gap:checked + span:after {
     border: 3px solid $lighter;
   }
   
   [type="radio"]:checked + span:after,
   [type="radio"].with-gap:checked + span:after {
     background-color: $dark;
   }
   
   [type="radio"]:checked + span:after {
        transform: scale(1.02);
   }
   