.c-ma-email-sub {
  //background: $dark;
  color: currentColor;

  &--small {
    @include set-font-size(1.1rem, 1.1rem, 1.1rem, 1.1rem);
    line-height: 1.3;
    padding-top: $spacing--small;
    margin-bottom: $spacing--tiny;
    text-align: center;
  }

  &__wrapper {
    padding-bottom: 30px;
    max-width: 640px;
    margin: 0 auto;
    @include media(">tablet") {
      max-width: 100%;
      padding-bottom: 0;
    }

    @include media(">desktop") {
      display: table;
      width: 100%;
      margin-bottom: 0px;
    }
  }

  &__column {
    .gform_wrapper {
      input[type="text"] {
        margin-bottom: 5px;
      }
    }

    @include media(">desktop") {
      display: table-cell;
      width: 50%;
      vertical-align: middle;

      .gform_wrapper {
        display: table;
        width: 100%;

        form {
          lost-utility: clearfix;

          .gform_body {
            width: 66%;
            float: left;
            lost-utility: clearfix;

            input[type="text"] {
              width: 49%;
              float: left;
              margin-bottom: 0;
              margin-right: 0.8%;
            }
          }

          .gform_footer {
            width: 33%;
            float: left;
          }
        }
      }
    }

    &:nth-of-type(1) {
      @include set-font-size(2.2rem, 2.2rem, 2.2rem, 2.2rem);
      font-family: font-family(nt-primary, medium);
      line-height: 1.25;
      text-align: center;
      padding: $spacing--x-small;

      @include media(">desktop") {
        text-align: left;
        width: 50%;
      }
    }
  }

  input[type="submit"] {
    background-color: $dark;
    color: $white;
  }
}

.c-ma-email-sub {
  form {
    .validation_error {
      display: none;
    }
  }
}

.gfield {
  position: relative;
  .validation_message {
    position: absolute;
    top: 50px;
  }
}

#field_6_1 .validation_message {
  display: none;
}
