[type="radio"]:not(:checked),
[type="radio"]:checked {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.c-meta {
    @include set-font-size(1.4rem, 1.4rem, 1.4rem, 1.4rem);
    line-height: 2;
    lost-column: 12/12;

    //Desktop
    @include media('>tablet') {
        lost-column: 3/12;
        &__filter-button {
          display: none;
        }

        &__data {
          display: block !important;
        }
    }

    //Section
    &__section {
        padding: 0 $spacing--small $spacing--small;
    }

    //Title
    &__title {
        font-family: font-family(primary, semibold);
        text-transform: uppercase;
    }

    //Label
    &__label {
        font-family: font-family(primary, medium);
    }

    //Radio
    &__radio {
    }

}


/* Radio Buttons
   ========================================================================== */
   [type="radio"]:not(:checked),
   [type="radio"]:checked {
     position: absolute;
     opacity: 0;
     pointer-events: none;
   }

   [type="radio"]:not(:checked) + span,
   [type="radio"]:checked + span {
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    -webkit-transition: .28s ease;
    transition: .28s ease;
    user-select: none;
   }

   [type="radio"] + span:before,
   [type="radio"] + span:after {
     content: '';
     position: absolute;
     left: 0;
     top: 0;
     margin: 4px;
     width: 14px;
     height: 14px;
     z-index: 0;
     transition: .28s ease;
   }

   /* Unchecked styles */
   [type="radio"]:not(:checked) + span:before,
   [type="radio"]:not(:checked) + span:after,
   [type="radio"]:checked + span:before,
   [type="radio"]:checked + span:after,
   [type="radio"].with-gap:checked + span:before,
   [type="radio"].with-gap:checked + span:after {
     border-radius: 50%;
   }

   [type="radio"]:not(:checked) + span:before,
   [type="radio"]:not(:checked) + span:after {
     //border: 2px solid $lighter;
     background-color: $lighter;
   }

   [type="radio"]:not(:checked) + span:after {
             transform: scale(0);
   }

   /* Checked styles */
//    [type="radio"]:checked + span:before {
//      border: 2px solid transparent;
//    }

   [type="radio"]:checked + span:after,
   [type="radio"].with-gap:checked + span:before,
   [type="radio"].with-gap:checked + span:after {
     border: 3px solid $lighter;
   }

   [type="radio"]:checked + span:after,
   [type="radio"].with-gap:checked + span:after {
     background-color: $dark;
   }

   [type="radio"]:checked + span:after {
        transform: scale(1.02);
   }




   .sub-menu {
    // display: none;
    // visibility: hidden;
  }

  .sub-menu__label {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
    width: 24px;
    //content: 'data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20id%3D%22Capa_1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22512px%22%20height%3D%22512px%22%20viewBox%3D%220%200%20612%20612%22%20style%3D%22enable-background%3Anew%200%200%20612%20612%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cg%3E%0A%09%09%3Ccircle%20cx%3D%2269.545%22%20cy%3D%22306%22%20r%3D%2269.545%22%20fill%3D%22%23f7931e%22%2F%3E%0A%09%09%3Ccircle%20cx%3D%22306%22%20cy%3D%22306%22%20r%3D%2269.545%22%20fill%3D%22%23f7931e%22%2F%3E%0A%09%09%3Ccircle%20cx%3D%22542.455%22%20cy%3D%22306%22%20r%3D%2269.545%22%20fill%3D%22%23f7931e%22%2F%3E%0A%09%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A';
    //background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20id%3D%22Capa_1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22512px%22%20height%3D%22512px%22%20viewBox%3D%220%200%20612%20612%22%20style%3D%22enable-background%3Anew%200%200%20612%20612%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cg%3E%0A%09%09%3Ccircle%20cx%3D%2269.545%22%20cy%3D%22306%22%20r%3D%2269.545%22%20fill%3D%22%23f7931e%22%2F%3E%0A%09%09%3Ccircle%20cx%3D%22306%22%20cy%3D%22306%22%20r%3D%2269.545%22%20fill%3D%22%23f7931e%22%2F%3E%0A%09%09%3Ccircle%20cx%3D%22542.455%22%20cy%3D%22306%22%20r%3D%2269.545%22%20fill%3D%22%23f7931e%22%2F%3E%0A%09%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
  }

  .sub-menu:checked ~ .o-side-navigation {
    max-height: 2000px;
  }

  input[type=checkbox]:checked + label {
    //background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2016.0.0%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0A%3C%21DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%0A%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20version%3D%221.1%22%20id%3D%22Capa_1%22%20x%3D%220px%22%20y%3D%220px%22%20width%3D%22512px%22%20height%3D%22512px%22%20viewBox%3D%220%200%20612%20612%22%20style%3D%22enable-background%3Anew%200%200%20612%20612%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0A%3Cg%3E%0A%09%3Cg%3E%0A%09%09%3Ccircle%20cx%3D%2269.545%22%20cy%3D%22306%22%20r%3D%2269.545%22%20fill%3D%22%23ccc%22%2F%3E%0A%09%09%3Ccircle%20cx%3D%22306%22%20cy%3D%22306%22%20r%3D%2269.545%22%20fill%3D%22%23ccc%22%2F%3E%0A%09%09%3Ccircle%20cx%3D%22542.455%22%20cy%3D%22306%22%20r%3D%2269.545%22%20fill%3D%22%23ccc%22%2F%3E%0A%09%3C%2Fg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3Cg%3E%0A%3C%2Fg%3E%0A%3C%2Fsvg%3E%0A");
  }
