.c-online-exhibitions {
  $spacing: 30px;
  lost-utility: clearfix;

  .canvas {
    background-color: rgba($black, 0.35);
  }

  &__block {
    margin-bottom: $spacing;
    @include aspect-ratio(1, 1, 0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &:nth-last-of-type(1) {
      margin-bottom: 0;
    }

    @include media(">tablet") {
      margin-bottom: 0;
      lost-column: 6/12 2 $spacing no-flex;
    }

    &--small {
      @include aspect-ratio(1, 1, 0, 0, 0, 0);
      margin-bottom: 0;
    }
  }

  //Navigation
  &__block--navigation {
    margin-bottom: $spacing;
    @include aspect-ratio(1, 1, 0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @include media(">tablet") {
      lost-column: 4/12 3 $spacing no-flex;
    }
  }

  &__content {
    bottom: 0;
    position: absolute;
    width: 100%;
    color: $white;
    padding: $spacing--small;
  }

  &__artist {
    font-family: font-family(nt-primary, regular);
    @include set-font-size(2rem, 2rem, 2.4rem, 3rem);
    line-height: 1.1;
  }

  &__title {
    font-family: font-family(nt-primary, medium);
    @include set-font-size(2.4rem, 3rem, 3.6rem, 4rem);
    line-height: 1.1;
  }

  &--alt-font {
    .c-online-exhibitions__artist,
    .c-online-exhibitions__title {
      font-family: font-family(garamond, medium);
    }
    .c-online-exhibitions__title {
      @include set-font-size(5.2rem, 5.2rem, 4rem, 5.2rem);
    }
  }

  &__href {
    color: currentColor;
    text-decoration: none;
    @include set-font-size(2rem, 2rem, 2rem, 2rem);

    a {
      margin-right: $spacing--x-tiny;
    }
  }

  &__btn-title-wrap {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  &__btn-title {
    margin-right: $spacing--small;
  }

  &__btn-prev,
  &__btn-next {
    border: solid 1px palette(greys, xx-light);
    width: 65px;
    height: 45px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    background-color: $white;
    $color: fff;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    //box-shadow: 5px 10px #888888;
    @include media(">phone") {
      width: 65px;
      height: 45px;
    }
    &:after {
      content: "";
      background-size: 12px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url("data:image/svg+xml,%3Csvg%20height%3D%22158%22%20viewBox%3D%220%200%2083%20158%22%20width%3D%2283%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m118.122957%2038.8771144c-1.169391-1.1694859-3.063633-1.1694859-4.233023%200l-72.8882582%2072.8957186-72.8916094-72.8957186c-1.1693906-1.1694859-3.0636328-1.1694859-4.2330234%200-1.1693907%201.1694859-1.1693907%203.0638824%200%204.2333683l75.0079687%2075.0125553c.5612344.56128%201.3214297.876962%202.1166641.876962s1.555125-.315682%202.1163594-.876962l75.0049218-75.0125553c1.169391-1.1694859%201.169391-3.0638824%200-4.2333683z%22%20transform%3D%22matrix%280%20-1%201%200%20-36.91275%20119.99975%29%22%2F%3E%3C%2Fsvg%3E");
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      cursor: pointer;
      background-color: palette(greys, xx-light);
      &:after {
        transform: scale(0.9);
      }
    }
  }

  &__btn-icon {
    width: 10px;
  }

  &__btn-prev {
    margin-right: $spacing--x-small;
    transform: rotate(180deg);
  }

  &--border-bottom {
    border-bottom: solid 1px palette(greys, base);
  }

  .owl-stage {
    padding-left: 0px !important;
  }
}
