.c-online-exhibitions {
  $spacing: 30px;
  lost-utility: clearfix;

  &__card {
    //outline: solid 0px white;
    transition: all 0.3s ease-in-out;
    &:focus,
    &:hover {
      //outline: solid 15px lighten($grey, 30%);
      .c-online-exhibitions__artist {
        //transform: translate3d(0, -3px, 0);
      }

      .canvas {
        background-color: rgba($black, 0.2);
      }

      .c-online-exhibitions__href {
        //transform: translate3d(0, -6px, 0);
        .c-works__icon {
          transform: translate3d(6px, 0, 0);
        }
      }
    }
  }

  .canvas {
    background-color: rgba($black, 0.3);
    transition: all 0.3s ease-in-out;
  }

  &__href {
    display: block;
    font-family: font-family(nt-primary, regular);
    transition: all 0.3s ease-in-out;
  }

  &__block {
    margin-bottom: $spacing;
    @include aspect-ratio(4, 2.5, 0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @include media(">tablet") {
      margin-bottom: 0;
      lost-column: 6/12 2 $spacing no-flex;
    }

    &--small {
      @include aspect-ratio(4, 3.5, 0, 0, 0, 0);
      margin-bottom: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
  }

  //Navigation
  &__block--navigation {
    margin-bottom: $spacing;
    @include aspect-ratio(4, 3.5, 0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    @include media(">tablet") {
      lost-column: 4/12 3 $spacing no-flex;
    }
  }

  &__content {
    bottom: 0;
    position: absolute;
    width: 100%;
    color: $white;
    padding: $spacing--small;
    transition: all 0.3s ease-in-out;
  }

  &__artist {
    font-family: font-family(nt-primary, medium);
    @include set-font-size(3.2rem, 3.2rem, 3.2rem, 3.2rem);
    line-height: 1.1;
    margin-bottom: 0.9rem;
    transition: all 0.3s ease-in-out;
  }

  &__artwork_title {
    font-family: font-family(nt-primary, medium);
    @include set-font-size(1.6rem, 1.6rem, 1.6rem, 1.6rem);
    line-height: 1.1;
    margin-bottom: $spacing--tiny;
  }

  &__title {
    font-family: font-family(nt-primary, medium);
    @include set-font-size(3.2rem, 3.2rem, 3.2rem, 3.2rem);
    line-height: 1.1;
    margin-bottom: $spacing--tiny;
  }

  &--alt-font {
    font-family: font-family(garamond, medium);
    .c-online-exhibitions__artist,
    .c-online-exhibitions__title {
      font-family: font-family(garamond, medium);
    }
  }

  &__href {
    color: currentColor;
    text-decoration: none;
    @include set-font-size(1.6rem, 1.6rem, 1.6rem, 1.6rem);

    a {
      margin-right: $spacing--x-tiny;
    }
  }

  &__btn-title-wrap {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  &__btn-title {
    margin-right: $spacing--small;
  }

  &__btn-container {
    position: absolute;
    right: 60px;
    padding-top: 5px;
    @include media(">phone") {
      right: 110px;
    }
    @include media(">tablet") {
    }
    @include media(">desktop") {
      right: 110px;
    }
  }

  &__btn-prev,
  &__btn-next {
    width: 45px;
    height: 35px;
    border: solid 1px palette(greys, xx-light);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
    background-color: $white;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    //box-shadow: 5px 10px #888888;
    @include media(">phone") {
      width: 65px;
      height: 45px;
    }
    &:after {
      content: "";
      background-size: 12px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-repeat: no-repeat;
      background-position: center center;
      background-image: url("data:image/svg+xml,%3Csvg%20height%3D%2225%22%20viewBox%3D%220%200%2021%2025%22%20width%3D%2221%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m20.8858032%2013.585144-20.74633787%2011.0480042v-2.697052l18.10499997-9.463406-18.10499997-9.46194801v-2.697052l20.49099997%2010.91200001.0082347-.0039161.0637653.0419161.1833379.0980041z%22%20fill%3D%22%238a8a8a%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E");
      transition: all 0.3s ease-in-out;
    }
    &:hover {
      cursor: pointer;
      background-color: $white;
      &:after {
        transform: scale(0.9);
      }
    }
  }

  &__btn-icon {
    width: 10px;
  }

  &__btn-prev {
    margin-right: 10px;
    transform: rotate(180deg);
    @include media(">phone") {
      margin-right: $spacing--x-small;
    }
  }

  &--border-top {
    border-bottom: solid 1px palette(greys, base);
  }

  &--border-bottom {
    border-bottom: solid 1px palette(greys, base);
  }

  .owl-stage {
    padding-left: 0px !important;
  }
}

/**
* Hover Animation
*/
.c-online-exhibitions__href-wrap,
.owl-item {
  transition: all ease 0.2s;
}

.c-online-exhibitions--padding-bottom {
  @include media(">tablet") {
    padding-bottom: $spacing;
  }
}

.fullscreenBtn,
.closefullscreenBtn,
.owl-prev,
.owl-next {
  &:focus {
    outline: none;
    outline: -webkit-focus-ring-color auto 0px;
  }
}
