.c-header-background-image {
   height: 500px;
   width: 100%;
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   resize: both;
   overflow: auto;
}

.c-paralax-header {
   width: 100%;

   // &--mobile {
   //    display: block;
   //    @include media('>tablet') {
   //       display: none;
   //   }
   // }
   &--desktop {
      display: block;
      @include media('>tablet') {
         display: block;
     }
   }
}

$height: 650px;

.parallax-window {
   min-height: $height;
   background: transparent;

   @include media('>tablet') {
      min-height: $height;
  }


   &__content {

      color: white;
   }

   &__copy {

   }
   
}

//Footer image
.parallax-window__footer {
   min-height: 500px;
}