$hero-height: calc(100vh - 70px);
$footer-height: 670px;

.c-header-background-image {
   height: $hero-height;
   width: 100%;
   background-repeat: no-repeat;
   background-position: 50%;
   background-size: cover;
   display: flex;
   justify-content: center;
   align-items: center;
   resize: both;
   overflow: auto;

   &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba($black, 0.25);
      z-index: 1;
   }
}

.c-paralax-header {
   width: 100%;

   // &--mobile {
   //    display: block;
   //    @include media('>tablet') {
   //       display: none;
   //   }
   // }
   &--desktop {
      display: block;
      @include media('>tablet') {
         display: block;
     }
   }
}



.parallax-window {
   min-height: $hero-height;
   background: transparent;

   @include media('>tablet') {
      min-height: $hero-height;
  }


   &__content {
      color: white;
      position: relative;
      z-index: 2;
   }

   &__copy {

   }
   
}

//Footer image
.parallax-window__footer {
   min-height: $footer-height;
}