.c-site-nav {
  @include set-font-size(1.6rem, 1.6rem, 1.6rem, 1.6rem);
  font-family: font-family(nt-primary, regular);
  display: block;
  margin: 0 auto;
  text-align: center;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px palette(greys, xx-light);

  .menu-item {
    display: inline-block;
    transform: translate3d(0, 0, 0);
    transition: ease 0.4s;

    a {
      color: palette(bw, black);
      opacity: 0.8;
      display: inline-block;
      position: relative;
      transition: 0.3s all ease;
      height: 34px;
      margin-top: 14px;
      padding: 0 $spacing--medium;

      &:after {
        // content: "";
        // position: absolute;
        // right: 0;
        // left: 50%;
        // bottom: 0px;
        // display: block;
        // width: 0;
        // height: 1px;
        // -webkit-transform: translateX(-50%);
        // transform: translateX(-50%);
        // background-color: palette(bw, black);
      }

      &:hover {
        text-decoration: none;
        color: palette(bw, black);
        opacity: 1;

        &:after {
          width: 100%;
        }
      }
    }

    &.current-menu-item a {
      text-decoration: none;
      color: palette(bw, black);
      opacity: 1;
      font-family: font-family(nt-primary, medium);

      &:after {
        content: "";
        position: absolute;
        right: 0;
        left: 50%;
        bottom: 0px;
        display: block;
        width: 100%;
        height: 1px;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        background-color: palette(bw, black);
      }
    }
  }
}

.menu-item.current_page_item a,
.menu-item.current_page_ancestor a {
  font-family: font-family(nt-primary, medium);
  color: palette(bw, black);
  opacity: 0.8;
  display: inline-block;
  position: relative;
  transition: 0.3s all ease;
  height: 34px;
  margin-top: 14px;
  padding: 0 $spacing--medium;

  &:after {
    content: "";
    position: absolute;
    right: 0;
    left: 50%;
    bottom: 0px;
    display: block;
    width: 100%;
    height: 1px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: palette(bw, black);
  }
}

// .menu-item-post-type_type a,
// .current-page-ancestor a,
// .single-online-exhibitions .menu-item:first-of-type a,
// .single-art-fairs .menu-item:last-of-type a,
// .active a {
//   text-decoration: none;
//   color: palette(bw, black);
//   opacity: 1;
//   font-family: font-family(nt-primary, medium);

//   &:after {
//     width: 100% !important;
//   }
// }

/**
* Parallax-template
*/
.online-exhibitions-template-parallax-template {
  .c-site-nav {
    border: none;
  }

  .menu-item:first-of-type a,
  //.menu-item:last-of-type a,
  .menu-item a {
    color: white;
  }

  .menu-item:first-of-type a:after {
    background-color: white;
  }
}

body.is-scrolled {
  .menu-item:first-of-type a,
  //.menu-item:last-of-type a,
  .menu-item a {
    color: black;
  }

  .menu-item:first-of-type a:after {
    background-color: black;
  }
}
