$spacing: 25px;

.social {
  text-align: center;
  padding: 1rem;

  @include media(">desktop") {
    text-align: right;
  }

  &__link {
    display: inline-block;
    margin: 0px 5px 0;
    opacity: 0.7;

    @include media(">desktop") {
      &:nth-last-of-type(1) {
        margin-right: -10px;
      }
    }
    &:hover {
      opacity: 1;
    }
  }

  &__icon {
    $dimensions: 25px;
    width: $dimensions;
    height: $dimensions;
  }
}

.copyright {
  padding: 1.5rem 0;
  line-height: 1.7;

  a {
    padding: 0.8rem 0;
  }
}

.small-copy {
  .copyright {
    a {
      color: $white !important;
    }
  }
}

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
