.c-sale-marker {
   $dimensions: 10px;
   width: $dimensions; 
   height: $dimensions;
   margin-right: 5px;  
   border-radius: 50px;
   display: none;

   &--available {
      background-color: green;
      display: inline-block;
   }

   &--sold {
      background-color: red; 
      display: inline-block;
   }

   &--hold {
      background-color: orange; 
      display: inline-block;
   }
   
} 