.c-works {
    //lost-column: 12/12;
    width: 100%;
    max-width: 864px;
    margin: 0 auto;  
     
    //Tablet
    @include media('>tablet') {
        //lost-column: 9/12;
 
    }

    &__list {
      margin-left: -2.8rem;
      margin-right: -2.8rem;

      @include media('>tablet') {
        lost-flex-container: row;
      }
    }

    //Home hero carousel card
    &__hero-figure {
        position: relative;
        margin-bottom: $spacing--medium;
        // position: relative;
    }

    //Image
    &__hero-image {
        //Tablet
        @include media('>tablet') {
            max-width: 180px;
        }
        
        &:hover {
            cursor: pointer; 
        } 
    
    }

    &__hero-card {
        //lost-column: 1/1 1 0;
        text-align: center !important;


        .c-button {
            max-width: 220px;
        }
    }

    //Card 
    &__card { 
        position: relative;
        padding: 0 $spacing--small $spacing--large-xx;
        @include set-font-size(1.5rem, 1.5rem, 1.5rem, 1.5rem);
  
        //Tablet
        @include media('>tablet') {  
            lost-column: 6/12 3 0;
        }

        //Desktop
        @include media('>desktop') {
            lost-column: 4/12 3 0;
        }   
    }

    //Figure 
    &__figure {
        position: relative;
        margin-bottom: $spacing--medium;
        display: flex;
        align-items: flex-end;
        position: relative;
        min-height: 310px;
    }

    //Image
    &__image {
        //Tablet
        @include media('>tablet') {
            max-height: 310px;
            max-width: 100%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
        }
        
        &:hover {
            cursor: pointer; 
        } 
 
    }

    //Title
    &__title { 
        font-family: font-family(primary, semibold);
        @include set-font-size(2.4rem, 2.4rem, 2.4rem, 2.4rem);
        line-height: 1.25;
        color: white;
    }

    &__medium {
        height: 44px;
    }
 
    //Medium  
    &__medium,
    //Demensions
    &__dimensions {
        color: currentColor;
        line-height: 1.5;
        margin-bottom: $spacing--x-tiny;
    }   
    
    //Date
    &__date {
        //margin-bottom: $spacing--tiny;
    }  

    //Name
    &__name {
        //margin-bottom: $spacing--x-tiny;
        font-family: font-family(primary, semibold);
    }  

    //Price
    &__price {
        color: white;
        //margin-bottom: $spacing--small;
        font-family: font-family(primary, semibold);
    }

    //Price
    &__availability {
        margin-bottom: $spacing--small;
        font-family: font-family(primary, semibold);
    }

    //Href Wrap
    &__href-wrap { 
        display: block; 
        font-family: font-family(primary, bold);
        color: white;
        font-weight: 100;
        text-align: center;
        padding: 12px 25px;

        &--spacer {
            height: 46px;
            margin-bottom: 2rem;
        }
        
        &:hover {
            text-decoration: underline;

            .c-works__icon { 
                transform: translate3d(3px,0,0);
            }
        }

        &--center {
            text-align: center;
            .c-works__href {
                color: white !important;
                font-family: font-family(primary, medium);
            }
            .c-works__icon {
                top: 0 !important;
                margin-left: 0;
                transition: all ease-in-out 200ms;
            }
        }

    }

    //Icon
    &__icon {
        top: .2em !important;
        margin-left: 2px;
        transition: all ease-in-out 200ms;
    }

    //Href
    &__href {
        text-decoration: none;
        color: currentColor;
    }

    //Footer
    &__footer {
        padding-top: 50px;
        margin-top: -40px;
        text-align: center;

        //HR
        &__hr {
            border-top: solid 1px palette(greys, x-light);
        }
        
    }

    

}


.v-m-carousel-slide img {
    cursor: pointer;
}

.c-works-content {

    max-width: 100%;
    padding: 10px 40px 40px;
    margin: 0 auto;

    //Tablet
    @include media('>desktop') {
        max-width: 75%;
    } 
    
}

.c-works__dimensions {
    margin-bottom: 10px;
}

a .c-works__title {
    color: $text-color;
}

.home {
    color: $text-color;
    .c-works {
            //Href
        &__href, 
        &__price {
            color: $text-color;
        }
    }
}

.page-id-2475 {
    color: $text-color;
    .c-works {
            //Href
        &__href, 
        &__price {
            color: $text-color;
        }
    }
}


/** Live **/
.page-id-2751 {
    color: $text-color;
    .c-works {
            //Href
        &__href, 
        &__price {
            color: $text-color;
        }
    }
}