.c-works {
    //lost-column: 12/12;
    width: 100%;
    max-width: 864px;
    margin: 0 auto;  
     
    //Tablet
    @include media('>tablet') {
        //lost-column: 9/12;
 
    }

    &__list {
      margin-left: -2.8rem;
      margin-right: -2.8rem;

      @include media('>tablet') {
        lost-flex-container: row;
      }
    }

    //Card 
    &__card { 
        //padding: $spacing--small;
        padding: 0 $spacing--small $spacing--medium;
        @include set-font-size(1.5rem, 1.5rem, 1.5rem, 1.5rem);
  
        //Tablet
        @include media('>tablet') {  
            lost-column: 6/12 3 0;
        }

        //Desktop
        @include media('>desktop') {
            lost-column: 4/12 3 0;
        }   
    }

    //Figure 
    &__figure {
        position: relative;
        margin-bottom: $spacing--medium;
        display: flex;
        align-items: flex-end;
        position: relative;
        min-height: 310px;
    }

    //Image
    &__image {
        //Tablet
        @include media('>tablet') {
            max-height: 310px;
            max-width: 100%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
        }
        
        &:hover {
            cursor: pointer; 
        } 
 
    }

    //Title
    &__title { 
        font-family: font-family(primary, semibold);
        @include set-font-size(2.4rem, 2.4rem, 2.4rem, 2.4rem);
        line-height: 1.25;
        margin-bottom: 10px;  
        color: $text-color; 
    }

    // //Date
    // &__date {
    //     font-family: font-family(primary, medium);
    //     line-height: 2;
    //  }

    //Date
    &__date, 
    //Medium  
    &__medium,  
    //Demensions
    &__dimensions {
        font-family: font-family(primary, regular);
        color: $light;
        line-height: 1.7;
    }   
 
    &__date {
        margin-bottom: 10px; 
    }  
    //Demensions
    // &__dimensions {
   
    // }  

    // &__medium { 
    //   text-transform: capitalize;
    // }

    //Price
    &__price {
        font-family: font-family(primary, bold);
        margin-bottom: 10px;
        //line-height: 4;
    }

    //Href Wrap
    &__href-wrap { 
        display: block; 
        line-height: 1.7; 

        &:hover {
            text-decoration: underline;

            .c-works__icon { 
                transform: translate3d(5px,0,0);
            }
        }

    }

    //Icon
    &__icon {
        top: .2em !important;
        margin-left: $spacing--tiny;
        transition: all ease-in-out 200ms;
    }

    //Href
    &__href {
        text-decoration: none;
        color: currentColor;
    }

}


.v-m-carousel-slide img {
    cursor: pointer;
}

.c-works-content {
    text-align: center;
    padding-top: 20px;
}

.c-works__dimensions {
    margin-bottom: 10px;
}