.c-works {
    width: 100%;
    max-width: 864px;
    margin: 0 auto;  

    &__list {
      margin-left: -2.8rem;
      margin-right: -2.8rem;

      @include media('>tablet') {
        lost-flex-container: row;
      }
    }

    //Home hero carousel card
    &__hero-figure {
        position: relative;
        margin-bottom: $spacing--small;
        padding-top: $spacing--small;
    }

    &__hero-image {

        &:hover {
            outline: solid 6px lighten($grey, 30%);
        }
    }

    &__hero-card {
        text-align: center !important;
        max-width: 300px;
        margin: 0 auto;

        .c-button {
            max-width: 220px;
            margin-right: auto;
            margin-left: auto;
        }
    }

    &__hero-credit-line {
        @include set-font-size(1.5rem, 1.5rem, 1.5rem, 1.5rem);
        line-height: 1.25;
        margin-bottom: $spacing--x-small;
    }

    //Card 
    &__card { 
        position: relative;
        padding: 0 $spacing--small $spacing--small;
        //margin-bottom: $spacing--tiny;
        @include set-font-size(1.5rem, 1.5rem, 1.5rem, 1.5rem);
        color: $dark;

        a {
            color: currentColor;
        }
  
        //Tablet
        @include media('>tablet') {  
            lost-column: 6/12 3 0;
        }

        //Desktop
        @include media('>desktop') {
            lost-column: 4/12 3 0;
        }

    }

    //Figure 
    &__figure {
        position: relative;
        margin-bottom: $spacing--medium;
        display: flex;
        align-items: flex-end;
        position: relative;
        min-height: 310px;
    }

    //Image
    &__image {
        //Tablet
        @include media('>tablet') {
            max-height: 310px;
            max-width: 100%;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
        }
        
        &:hover {
            cursor: pointer; 
            outline: solid 6px lighten($grey, 30%);
        } 
 
    }

    //Title
    &__title { 
        font-family: font-family(nt-primary, medium);
        @include set-font-size(1.6rem, 1.6rem, 1.6rem, 1.6rem);
        line-height: 1.25;
        //color: white;
    }
 
    &__medium,
    &__dimensions,
    &__price {
        margin-bottom: $spacing--tiny;
        @include set-font-size(1.5rem, 1.5rem, 1.5rem, 1.5rem);
        line-height: 1.25;
        position: relative;
    }   
    
    //Date
    &__date {
        margin-bottom: $spacing--small;
        font-family: font-family(nt-primary, medium);
        @include set-font-size(1.6rem, 1.6rem, 1.6rem, 1.6rem);
        line-height: 1.25;
        //color: white;
    }  

    //Name
    &__name {
        font-family: font-family(nt-primary, medium);
        @include set-font-size(2.1rem, 2.1rem, 2.1rem, 2.1rem);
        line-height: 1.25;
        //color: white;
    }  

    &__availability {
        margin-bottom: $spacing--small;
        font-family: font-family(nt-primary, medium);

        &__hero {
            margin-bottom: 0;
        }
    }

    //Href Wrap
    &__href-wrap {
        font-family: font-family(nt-primary, medium);
        //text-align: center;
        padding: 12px 0;

        &--spacer {
            height: 46px;
            margin-bottom: 2rem;
        }

        &:hover {
            //text-decoration: underline;

            .c-works__icon { 
                transform: translate3d(3px,0,0);
            }

            a {
                text-decoration: underline;
            }

        }

        &--back {
            position: absolute;
            z-index: 10;

            &:hover {
                .c-works__icon { 
                    transform: rotate(-180deg) translate3d(3px,0,0);
                }
    
            }

        }

        &--center {
            text-align: center;
            margin: 0 auto;
            display: block;

            .c-works__href {
                color: white;
                font-family: font-family(nt-primary, medium);
            }
            .c-works__icon {
                top: 1px;
                margin-left: 0;
                transition: all ease-in-out 200ms;
            }
        }

    }

    //Icon
    &__icon {
        top: -1px;
        margin-left: 2px;
        transition: all ease-in-out 200ms;

        &--back {
            margin-left: 0;
            margin-right: 2px;
            top: -2px !important;
            transition: all ease-in-out 200ms;
            transform: rotate(-180deg);
        }

    }

    //Href
    &__href {
        text-decoration: none;
        color: currentColor;
        text-align: center;
    }

    //Footer
    &__footer {
        padding-top: 50px;
        margin-top: -40px;
        text-align: center;

        //HR
        &__hr {
            //border-top: solid 1px palette(greys, x-light);
        }
        
    }

}





.page-template-page-viewing-room {
    .c-works__href-wrap--back {
        padding-left: 20px;
    }
}



.v-m-carousel-slide img {
    cursor: pointer;
}

.c-works-content {

    max-width: 100%;
    padding: $spacing--medium;
    margin: 0 auto;

    //Tablet
    @include media('>tablet') {
        max-width: 75%;
    } 
    
}

.c-works__dimensions {
    margin-bottom: 10px;
}


.c-works__card {
    .c-button {
        position: absolute;
        bottom: 0;
    }
}

a .c-works__title,
.c-works__name,
.c-works__date {
    color: $text-color;
}

.c-works__dimensions {
    height: 30px;
}

.c-works {

    &__medium,
    &__dimensions,
    &__price {
        margin-bottom: $spacing--tiny;
        @include set-font-size(1.5rem, 1.5rem, 1.5rem, 1.5rem);
        line-height: 1.25;
        color: currentColor;
        position: relative;
    } 

}


.single-works {
    .c-works__name,
    .c-works__date {
        color: white;
    }
}

    .c-works__dimensions {
        height: 80px;
    }

    .c-works {

        &__medium,
        &__dimensions,
        &__price {
            margin-bottom: $spacing--tiny;
            @include set-font-size(1.5rem, 1.5rem, 1.5rem, 1.5rem);
            line-height: 1.25;
            color: currentColor;
            position: relative;
        } 

    }

// }

// .page-id-2475 {
//     color: $text-color;
//     .c-works {
//         &__href, 
//         &__price {
//             color: $text-color;
//         }
//     }
// }


// /** Live **/
// .page-id-2751 {
//     color: $text-color;
//     .c-works {
//         &__href, 
//         &__price {
//             color: $text-color;
//         }
//     }
// }