/* zoom image */
.zoom-image {
  position: relative;
  margin: 0;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  background-color: $light-grey;

  > figure {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 200ms ease-out;
  }

  &:hover {
    cursor: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjMyIiB2aWV3Qm94PSIwIDAgMzIgMzIiIHdpZHRoPSIzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxjaXJjbGUgY3g9IjE2IiBjeT0iMTYiIGZpbGw9IiNmZmYiIHI9IjE1LjUiIHN0cm9rZT0iI2U5ZTllOSIvPjxwYXRoIGQ9Im0xNi41MDIgOS41LS4wMDEgNS45OThoNS45OTl2MS4wMDRsLTUuOTk5LS4wMDF2NS45OTloLTEuMDAzdi01Ljk5OWgtNS45OTh2LTEuMDAzaDUuOTk4di01Ljk5OHoiIGZpbGw9IiMwMDAiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvZz48L3N2Zz4=")
        15 15,
      move;
  }

  &.active {
    &:hover {
      cursor: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjMzIiB2aWV3Qm94PSIwIDAgMzIgMzMiIHdpZHRoPSIzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxjaXJjbGUgY3g9IjE2IiBjeT0iMTYuNjIzIiBmaWxsPSIjZmZmIiByPSIxNS41IiBzdHJva2U9IiNlOWU5ZTkiLz48cGF0aCBkPSJtMTYgMTUuNjIzaC03djFoMTN2LTF6IiBmaWxsPSIjMDAwIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L2c+PC9zdmc+")
          15 15,
        move;
    }
  }
}
