/* zoom image */
.zoom-image {
  position: relative;
  margin: 0;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  background-color: $light-grey;

  > figure {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 200ms ease-out;
  }

  &:hover {
    cursor: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjMyIiB2aWV3Qm94PSIwIDAgMzIgMzIiIHdpZHRoPSIzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxjaXJjbGUgY3g9IjE2IiBjeT0iMTYiIGZpbGw9IiNmZmYiIHI9IjE2Ii8+PHBhdGggZD0ibTE2LjUwMiA5LjUtLjAwMSA1Ljk5OGg1Ljk5OXYxLjAwNGwtNS45OTktLjAwMXY1Ljk5OWgtMS4wMDN2LTUuOTk5aC01Ljk5OHYtMS4wMDNoNS45OTh2LTUuOTk4eiIgZmlsbD0iIzAwMCIgZmlsbC1ydWxlPSJub256ZXJvIi8+PC9nPjwvc3ZnPg=="),
      auto;
  }

  &.active {
    &:hover {
      cursor: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjMzIiB2aWV3Qm94PSIwIDAgMzIgMzMiIHdpZHRoPSIzMiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxjaXJjbGUgY3g9IjE2IiBjeT0iMTYuNjIzIiBmaWxsPSIjZmZmIiByPSIxNiIvPjxwYXRoIGQ9Im04IDI0LjYyM2gxNnYtMTZoLTE2eiIvPjxwYXRoIGQ9Im0xNiAxNS42MjNoLTd2MWgxM3YtMXoiIGZpbGw9IiMwMDAiIGZpbGwtcnVsZT0ibm9uemVybyIvPjwvZz48L3N2Zz4="),
        auto;
    }
  }
}
