/* zoom image */
.zoom-image {
  position: relative;
  margin: 0;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%;
  background-color: $light-grey;
}

.zoom-image > figure {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 200ms ease-out;
}

.zoom-image > figure:hover {
  @include media(">desktop") {
    opacity: 1;
    cursor: crosshair;
  }
}

// .zoom-image > figure:hover {
//   @include media(">desktop") {
//     opacity: 1;
//     cursor: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjMzIiB3aWR0aD0iMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgwIC42MjMpIj48Y2lyY2xlIGN4PSIxNiIgY3k9IjE2IiBmaWxsPSIjMDAwIiBmaWxsLW9wYWNpdHk9Ii41IiBmaWxsLXJ1bGU9Im5vbnplcm8iIHI9IjE2Ii8+PHBhdGggZD0iTTggMjRoMTZWOEg4eiIvPjxwYXRoIGQ9Ik0xNiAxNUg5djFoMTN2LTF6IiBmaWxsPSIjZmZmIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48L2c+PC9zdmc+"),
//       auto;
//     //cursor: url("data:image/svg+xml;base64,PHN2ZyBoZWlnaHQ9IjMyIiB3aWR0aD0iMzIiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48Y2lyY2xlIGN4PSIxNiIgY3k9IjE2IiBmaWxsPSIjMDAwIiBmaWxsLW9wYWNpdHk9Ii41IiByPSIxNiIvPjxwYXRoIGQ9Ik0xNi41MDIgOS41bC0uMDAxIDUuOTk4SDIyLjV2MS4wMDRsLTUuOTk5LS4wMDFWMjIuNWgtMS4wMDN2LTUuOTk5SDkuNXYtMS4wMDNoNS45OThWOS41eiIgZmlsbD0iI2ZmZiIvPjwvZz48L3N2Zz4="),
//     //auto;
//   }
// }

// data:text/plain;charset=utf-8,%3Csvg%20height%3D%2233%22%20width%3D%2232%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20cx%3D%2216%22%20cy%3D%2216.5%22%20fill%3D%22%23000%22%20fill-opacity%3D%22.5%22%20r%3D%2216%22%2F%3E%3Cpath%20d%3D%22M9.5%2015.998h13v1.004h-13z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E
