/*
 * Apply a default from small and medium screens upwards
 */

.u-l-horizontal-padding {
  padding-left: $horizontal-padding-small;
  padding-right: $horizontal-padding-small;

  @include breakpoint($medium) {
    padding-left: $horizontal-padding-medium;
    padding-right: $horizontal-padding-medium;
  }

  &--large {
    padding-left: $spacing--large;
    padding-right: $spacing--large;

    @include media(">desktop") {
      padding-left: $spacing--jumbo;
      padding-right: $spacing--jumbo;
    }
  }

  &--medium {
    padding-left: $spacing--small;
    padding-right: $spacing--small;
    @include media(">tablet") {
      padding-left: $spacing--x-large;
      padding-right: $spacing--x-large;
    }
  }

  &--small {
    padding-left: $spacing--small;
    padding-right: $spacing--small;
    @include media(">tablet") {
      padding-left: $spacing--medium;
      padding-right: $spacing--medium;
    }
  }
}

.u-l-horizontal-padding--top-small {
  padding-top: $spacing--large;
}

.u-l-horizontal-padding--bottom-small {
  padding-bottom: $spacing--large;
}

.u-l-horizontal-margin--top-small {
  margin-top: $spacing--large;
}

.u-l-horizontal-margin--bottom-small {
  margin-bottom: $spacing--large;
}
