/*
 * Apply a default from small and medium screens upwards
 */

.u-l-vertical-padding {
  padding-top: $spacing--large;
  padding-bottom: $spacing--large;

  @include breakpoint($medium) {
    padding-top: $spacing--jumbo;
    padding-bottom: $spacing--jumbo;
  }

  //Small
  &--x-small {
    padding-top: $spacing--x-medium;
    padding-bottom: $spacing--x-medium;

    @include breakpoint($medium) {
      padding-top: $spacing--x-large;
      padding-bottom: $spacing--x-large;
    }
  }

  //Small
  &--small {
    padding-top: $spacing--medium;
    padding-bottom: $spacing--medium;

    @include breakpoint($medium) {
      padding-top: $spacing--large;
      padding-bottom: $spacing--large;
    }
  }

  //Small
  &--tiny {
    padding-top: $spacing--tiny;
    padding-bottom: $spacing--tiny;

    @include breakpoint($medium) {
      padding-top: $spacing--small;
      padding-bottom: $spacing--small;
    }
  }

  //Small
  &--bottom {
    padding-top: $spacing--medium;
    padding-bottom: $spacing--medium;

    @include breakpoint($medium) {
      padding-top: $spacing--large-xxx;
      padding-bottom: $spacing--large-xxx;
    }
  }

  //Small
  &--carousel-text-only {
    padding-top: $spacing--large-xx;
    padding-bottom: $spacing--large;

    @include breakpoint($medium) {
      padding-top: $spacing--large-xxx;
      padding-bottom: $spacing--large-xxxxx;
    }
  }

  &--top-only {
    @include breakpoint($medium) {
      padding-top: $spacing--medium;
    }
  }

  &--bottom-only {
    @include breakpoint($medium) {
      padding-bottom: $spacing--medium;
    }
  }
}
