/**
 * Using lost grid
 * @documentation http://lostgrid.org/docs.html
 */

@lost gutter 0px;
@lost flexbox flex;
@lost cycle none;

/*
 * Centralised container utility
 */

.u-l-container {
  margin: 0 auto;
  max-width: $max-width;
  width: 100%;
  position: relative;

  &--padding-full-width {
    padding-left: 0;
    padding-right: 0;

    @include media(">tablet") {
      padding-left: $spacing--medium;
      padding-right: $spacing--medium;
    }
  }

  &--padding {
    padding-left: $spacing--small;
    padding-right: $spacing--small;

    @include media(">tablet") {
      padding-left: $spacing--medium;
      padding-right: $spacing--medium;
    }
  }

  &--blockquote {
    max-width: 100%;
    margin: 0 $spacing--small;
    @include media(">tablet") {
      margin: 0 80px;
    }
  }

  &--full-width {
    margin: 0 auto;
    width: 100%;
    position: relative;
  }

  &--large {
    margin: 0 auto;
    max-width: $max-width-large;
    width: 100%;
    position: relative;
  }

  &--small {
    margin: 0 auto;
    max-width: $max-width-small;
  }

  &--shallow {
    margin: 0 auto;
    max-width: $max-width-shallow;
  }

  &--1150 {
    margin: 0 auto;
    max-width: $max-width-1150;

    @include media(">phone") {
      //padding-left: 4rem !important;
    }

    @include media(">tablet") {
      padding-left: 4rem !important;
    }

    @include media(">desktop") {
      padding-left: 9rem !important;
    }
  }

  &--narrow {
    margin: 0 auto;
    max-width: $max-width-narrow;
  }
}

.u-l-container--no-margin {
  margin-left: 0;
  margin-right: 0;
}

.u-l-container--center {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}

.u-section {
  width: 100%;
  @include media("<tablet") {
    height: 45px;
  }
}

.u-column {
  margin: 0 auto;
  lost-flex-container: row;

  //Half width
  &--half-width {
    // Tablet upwards
    @include media(">tablet") {
      lost-column: 1/2 2;
      float: left;

      &--left {
        lost-move: -1/2;
      }

      &--right {
        lost-move: 1/2;
      }
    }
  }

  //Two thirds
  &--two-thirds {
    // Tablet upwards
    @include media(">tablet") {
      lost-column: 2/3;

      &--left {
        lost-move: -2/3;
      }

      &--right {
        lost-move: 2/3;
      }
    }
  }

  &--image {
    img {
      margin: auto;
      transform: translateY(100px);
    }
  }

  &--full-width {
    max-width: 100%;
    outline: solid blue 1px;
  }
  &--large {
    max-width: 90%;
    outline: solid blue 1px;
  }
  &--medium {
    max-width: 1280px;
  }
  &--small {
    max-width: 1020px;
    @include media("<desktop-large") {
      padding-left: $spacing--medium;
      padding-right: $spacing--medium;
    }
  }
}

//@extend %u-tb-padding;
%u-tb-padding {
  padding: $spacing--large-x 0;

  @include media(">tablet") {
    padding: $spacing--large-xxx 0;
  }

  @include media(">desktop") {
    padding: $spacing--jumbo 0;
  }

  &--medium {
    padding: $spacing--small 0;

    @include media(">tablet") {
      padding: $spacing--medium 0;
    }

    @include media(">desktop") {
      padding: $spacing--large 0;
    }
  }

  &--small {
    padding: $spacing--tiny 0;

    @include media(">tablet") {
      padding: $spacing--small 0;
    }

    @include media(">desktop") {
      padding: $spacing--medium 0;
    }
  }
}
