$spacing: 30px;

.l-content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  &__title-break {
    @include set-font-size(2.4rem, 2.4rem, 2.6rem, 2.8rem);
    font-family: font-family(nt-primary, medium);
    line-height: 1.35;

    &--alt-font {
      font-family: font-family(garamond, medium);
      @include set-font-size(2.8rem, 2.8rem, 3rem, 3.2rem);
    }
  }

  &__block {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: $dark;
    background-color: lighten(#212322, 82%);
    @include aspect-ratio(1, 1.7);
    //Tablet
    @include media(">tablet") {
      @include aspect-ratio(1, 1.5);
      lost-column: 6/12 no-flex;
    }
    //Desktop
    @include media(">desktop") {
      @include aspect-ratio(1, 1);
      lost-column: 6/12 no-flex;
    }

    &__title {
      @include set-font-size(2.4rem, 2.8rem, 2.6rem, 2.8rem);
      font-family: font-family(nt-primary, medium);
      line-height: 1.35;

      &--alt-font {
        @include set-font-size(4rem, 4rem, 3rem, 4rem);
        font-family: font-family(garamond, medium);
      }
    }

    &__date {
      @include set-font-size(1.4rem, 1.4rem, 1.4rem, 1.4rem);
      line-height: 1.35;
    }

    &__title,
    &__date,
    &__body-text p {
      margin-bottom: $spacing--small;
    }

    &__body-text p {
      @include set-font-size(1.6rem, 1.8rem, 1.8rem, 1.8rem);
      line-height: 1.5;
      color: palette(greys, base);

      a {
        text-decoration: underline;
        color: currentColor;
      }
    }

    &__text-content {
      @include media("<tablet") {
        padding: $spacing--medium $spacing--x-small $spacing--small;
        &:before {
          padding-top: 0 !important;
        }
        .canvas {
          position: relative;
        }
      }

      @include media(">tablet") {
        padding: $spacing--large;
      }

      @include media(">desktop") {
        padding: $spacing--large-x;
      }
      @include media(">desktop-large") {
        padding: $spacing--large-xxxxx;
      }
    }

    &--image-content {
      overflow: hidden;
    }

    &--center {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--dark-background {
      color: white;
      background-color: #212322;
    }

    &--align-right {
      @include media(">tablet") {
        text-align: right;
      }

      .l-content__block--link {
        @include media(">tablet") {
          text-align: right;
        }
      }
    }

    &--link {
      text-align: center;
      padding: 0;
      a {
        color: currentColor !important;
      }
    }

    //Full width image
    &--full-width-image {
      width: 100%;
      @include aspect-ratio(1, 1);
      @include media(">tablet") {
        margin-bottom: $spacing;
        @include aspect-ratio(6, 3);
      }
    }
  }
}

/**
* Content blocks home
*/
.page-template-page-multi-artist {
  .l-content__block {
    &--text-content {
      //Tablet
      @include media(">tablet") {
        &:nth-of-type(2n + 2) {
          lost-column: 6/12 no-flex;
          lost-move: 6/12;
        }
      }
    }

    &--image-content {
      //Tablet
      @include media(">tablet") {
        @include aspect-ratio(1, 1.418);
        &:nth-of-type(2n + 2) {
          lost-move: -6/12;
        }
      }
      //Desktop
      @include media(">desktop") {
        @include aspect-ratio(1, 1);
      }
    }
  }
}

.carouselViewButton {
  display: none;
  $dimensions: 30px;
  position: absolute;
  top: $spacing--small;
  width: $dimensions;
  height: $dimensions;
  z-index: 2;
  background-color: transparent;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-repeat: no-repeat;
    background-size: 28px;
    background-position: center center;
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    cursor: pointer;
    &:after {
      background-size: 30px;
    }
  }
  @include media(">tablet") {
    display: block;
  }
}

.fullscreenBtn {
  &:after {
    background-image: url("data:image/svg+xml,%3Csvg%20height%3D%22216%22%20viewBox%3D%220%200%20216%20216%22%20width%3D%22216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m64.792%20139.949c2.93-2.929%207.679-2.929%2010.606-.001%202.93%202.929%202.93%207.678.001%2010.607l-49.788%2049.793h31.978c4.143%200%207.5%203.358%207.5%207.5s-3.358%207.5-7.5%207.5h-50.084c-4.143%200-7.5-3.358-7.5-7.5v-50.086c0-4.142%203.357-7.5%207.5-7.5s7.5%203.358%207.5%207.5v31.978zm75.159%200c2.929-2.929%207.677-2.929%2010.607%200l49.792%2049.792v-31.979c0-4.142%203.357-7.5%207.5-7.5%204.142%200%207.5%203.358%207.501%207.5v50.084c0%204.142-3.357%207.5-7.5%207.5h-50.086c-4.143%200-7.5-3.358-7.5-7.5s3.357-7.5%207.5-7.5h31.977l-49.791-49.791c-2.929-2.928-2.929-7.677%200-10.606zm67.899-139.947c4.142%200%207.5%203.357%207.501%207.5v50.086c0%204.142-3.357%207.5-7.5%207.5s-7.5-3.358-7.5-7.5v-31.98l-48.298%2048.301c-1.465%201.464-3.385%202.197-5.304%202.197s-3.839-.732-5.303-2.196c-2.93-2.929-2.93-7.678-.001-10.607l48.298-48.301h-31.979c-4.143%200-7.5-3.358-7.5-7.5s3.357-7.5%207.5-7.5zm-150.261%200c4.143%200%207.5%203.358%207.5%207.5s-3.358%207.5-7.5%207.5h-31.985l48.307%2048.296c2.93%202.928%202.93%207.677.001%2010.606-1.464%201.465-3.384%202.197-5.304%202.197-1.919%200-3.838-.732-5.303-2.196l-48.305-48.295v31.978c0%204.142-3.357%207.5-7.5%207.5s-7.5-3.358-7.5-7.499v-50.087c0-4.142%203.357-7.5%207.5-7.5z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E");
  }
}

.closefullscreenBtn {
  display: none;
  &:after {
    background-image: url("data:image/svg+xml,%3Csvg%20height%3D%22216%22%20viewBox%3D%220%200%20216%20216%22%20width%3D%22216%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22m70.095625%20137.752125c4.143%200%207.5%203.358%207.5%207.5v50.086c0%204.142-3.357%207.5-7.5%207.5s-7.5-3.358-7.5-7.5v-31.978l-49.787%2049.791c-2.92999998%202.929-7.67899998%202.929-10.60599998.001-2.93-2.929-2.93-7.678-.001-10.607l49.78799998-49.793h-31.978c-4.143%200-7.5-3.358-7.5-7.5s3.358-7.5%207.5-7.5zm125.244625.000125c4.143%200%207.5%203.358%207.5%207.5s-3.357%207.5-7.5%207.5h-31.977l49.791%2049.791c2.929%202.928%202.929%207.677%200%2010.606s-7.677%202.929-10.607%200l-49.792-49.792v31.979c0%204.142-3.357%207.5-7.5%207.5-4.142%200-7.5-3.358-7.501-7.5v-50.084c0-4.142%203.357-7.5%207.5-7.5zm12.510125-137.75025c1.919%200%203.839.732%205.303%202.196%202.93%202.929%202.93%207.678.001%2010.607l-48.298%2048.301h31.979c4.143%200%207.5%203.358%207.5%207.5s-3.357%207.5-7.5%207.5h-50.086c-4.142%200-7.5-3.357-7.501-7.5v-50.086c0-4.142%203.357-7.5%207.5-7.5s7.5%203.358%207.5%207.5v31.98l48.298-48.301c1.465-1.464%203.385-2.197%205.304-2.197zm-200.34974998%200c1.919%200%203.83799998.732%205.30299998%202.196l48.305%2048.295v-31.978c0-4.142%203.357-7.5%207.5-7.5s7.5%203.358%207.5%207.499v50.087c0%204.142-3.357%207.5-7.5%207.5h-50.089c-4.143%200-7.5-3.358-7.5-7.5s3.358-7.5%207.5-7.5h31.985l-48.30699998-48.296c-2.93-2.928-2.93-7.677-.001-10.606%201.464-1.465%203.384-2.197%205.304-2.197z%22%20fill%3D%22%23fff%22%2F%3E%3C%2Fsvg%3E");
  }
}

/**
* Content blocks home - wider text & image
*/
.page-template-page-viewing-room,
.page-template-page-private-sales-sub {
  .l-content__block {
    background-color: $white;

    &--dark-background {
      color: white;
      background-color: #212322;
    }

    &--wide-text {
      @include media(">tablet") {
        @include aspect-ratio(1, 1.3);
        lost-column: 5/12 no-flex;
        &:nth-of-type(2n + 2) {
          lost-move: 7/12;
        }
      }
      @include media(">desktop") {
        @include aspect-ratio(1, 1);
      }
    }

    &--wide-image {
      position: relative;
      @include aspect-ratio(1, 1);
      .owl-nav {
        position: absolute;
        z-index: 2;
        width: 145px;
        display: table;
        bottom: $spacing--tiny;
      }

      &:nth-of-type(2n + 1) {
        .carouselViewButton {
          left: $spacing--small;
        }
        .owl-nav {
          left: $spacing--small;
        }
      }

      &:nth-of-type(2n + 2) {
        .carouselViewButton {
          right: $spacing--small;
        }
        .owl-nav {
          right: $spacing--tiny;
          @include media(">phone") {
            right: $spacing--small;
          }
        }
      }

      @include media(">tablet") {
        @include aspect-ratio(1.12, 1);
        lost-column: 7/12 no-flex;
        margin-bottom: $spacing;

        &:nth-of-type(2n + 2) {
          lost-move: -5/12;
          .owl-nav {
            right: $spacing--tiny;
            @include media(">phone") {
              right: $spacing--small;
            }
          }
        }
      }

      @include media(">desktop") {
        @include aspect-ratio(1.4, 1);
      }
    }
  }
}

.owl-image-content-carousel {
  position: absolute !important;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;

  .l-content__block__carousel {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    @include aspect-ratio(1, 1);
    @include media(">tablet") {
      @include aspect-ratio(1.12, 1);
    }
    @include media(">desktop") {
      @include aspect-ratio(1.4, 1);
    }
  }
}

.canvas {
  .l-content__block--link {
    text-align: left;
  }
}

.l-content__block--align-right {
  .l-content__block--link {
    text-align: right;
  }
}

.c-works__href-wrap--center {
  .l-content__block--link {
    text-align: center !important;
  }
}

.modal-active {
  position: fixed !important;
  outline: solid 10px red !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: 100 !important;
  background-color: $white;
  outline: solid $white $spacing--medium;
}
