.l-content {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  &__title-break {
    @include set-font-size(2.4rem, 2.4rem, 2.6rem, 2.8rem);
    font-family: font-family(nt-primary, medium);
    line-height: 1.35;
  }

  &__block {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: $dark;
    background-color: lighten(#212322, 82%);
    @include aspect-ratio(1, 1.7);
    //Tablet
    @include media(">tablet") {
      @include aspect-ratio(1, 1.5);
      lost-column: 6/12 no-flex;
    }
    //Desktop
    @include media(">desktop") {
      @include aspect-ratio(1, 1);
      lost-column: 6/12 no-flex;
    }

    &--title {
      @include set-font-size(2.4rem, 2.8rem, 2.6rem, 2.8rem);
      font-family: font-family(nt-primary, medium);
      line-height: 1.35;
    }

    &--date {
      @include set-font-size(1.4rem, 1.4rem, 1.4rem, 1.4rem);
      line-height: 1.35;
    }

    &--title,
    &--date,
    &--body-text p {
      margin-bottom: $spacing--small;
    }

    &--body-text p {
      @include set-font-size(1.6rem, 1.8rem, 1.8rem, 1.8rem);
      line-height: 1.5;

      a {
        text-decoration: underline;
        color: currentColor;
      }
    }

    &--text-content {
      @include media("<tablet") {
        padding: $spacing--medium $spacing--x-small $spacing--small;
        &:before {
          padding-top: 0 !important;
        }
        .canvas {
          position: relative;
        }
      }

      @include media(">tablet") {
        padding: $spacing--large;
      }

      @include media(">desktop") {
        padding: $spacing--large-x;
      }
      @include media(">desktop-large") {
        padding: $spacing--large-xxxxx;
      }
    }

    &--center {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--dark-background {
      color: white;
      background-color: #212322;
    }

    &--align-right {
      @include media(">tablet") {
        text-align: right;
      }

      .l-content__block--link {
        @include media(">tablet") {
          text-align: right;
        }
      }
    }

    &--link {
      text-align: center;
      padding: 0;
      a {
        color: currentColor !important;
      }
    }
  }
}

/**
* Content blocks home
*/
.page-template-page-multi-artist {
  .l-content__block {
    &--text-content {
      //Tablet
      @include media(">tablet") {
        &:nth-of-type(2n + 2) {
          lost-column: 6/12 no-flex;
          lost-move: 6/12;
        }
      }
    }

    &--image-content {
      //Tablet
      @include media(">tablet") {
        @include aspect-ratio(1, 1.418);
        &:nth-of-type(2n + 2) {
          lost-move: -6/12;
        }
      }
      //Desktop
      @include media(">desktop") {
        @include aspect-ratio(1, 1);
      }
    }
  }
}

/**
* Content blocks home
*/
.page-template-page-viewing-room {
  .l-content__block {
    &--wide-text {
      @include media(">tablet") {
        @include aspect-ratio(1, 1.3);
        lost-column: 5/12 no-flex;
        &:nth-of-type(2n + 2) {
          lost-move: 7/12;
        }
      }
      @include media(">desktop") {
        @include aspect-ratio(1, 1);
      }
    }

    &--wide-image {
      @include media(">tablet") {
        @include aspect-ratio(1.12, 1);
        lost-column: 7/12 no-flex;
        &:nth-of-type(2n + 2) {
          lost-move: -5/12;
        }
      }
      @include media(">desktop") {
        @include aspect-ratio(1.4, 1);
      }
    }
  }
}

.canvas {
  .l-content__block--link {
    text-align: left;
  }
}

.l-content__block--align-right {
  .l-content__block--link {
    text-align: right;
  }
}

.c-works__href-wrap--center {
  .l-content__block--link {
    text-align: center !important;
  }
}
