.body--menu-is-expanded {
  position: fixed;
}

.l-site-header__nav {
  background-color: $white;
  transition: all ease 1s;
  @include media("<desktop") {
    display: none;
  }
}

.is-scrolled {
  @include media(">tablet") {
    .c-header {
      transform: translate3d(0, -70px, 0);
      transition: all ease 0.4s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);

      &__link--left {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

/**
* Parallax alpha 
*/
body {
  &.online-exhibitions-template-parallax-template {
    .l-site-header__nav {
      background-color: transparent;
    }
  }
}

body.is-scrolled {
  &.online-exhibitions-template-parallax-template {
    .l-site-header__nav {
      background-color: white;
    }
  }
}

/**
* Parallax alpha 
*/
body {
  &.online-exhibitions-template-parallax-template {
    .l-site-header__nav {
      background-color: transparent;
    }
    &.is-scrolled {
      .c-header__link--black {
        display: block;
      }
      .c-header__link--white {
        display: none;
      }
    }

    &.body--menu-is-expanded {
      .c-header__link--black {
        display: block !important;
      }
      .c-header__link--white {
        display: none;
      }
    }
  }
}

/**
* Swop black and white logos if template is online-exhibitions-template-parallax-template and page is scrolled
*/
