.body--menu-is-expanded {
  position: fixed;
}

.l-site-header__nav {
  background-color: $white;
  @include media("<desktop") {
    display: none;
  }
}

.is-scrolled {
  @include media(">tablet") {
    .c-header {
      transform: translate3d(0, -70px, 0);
      transition: ease 0.4s;
      box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);

      &__link--left {
        transform: translate3d(0, 0, 0);
      }
    }
  }
}

/**
* Parallax alpha 
*/
body {
  &.page-template-page-parallax-alpha {
    .l-site-header__nav {
      background-color: transparent;
    }
  }
}

body.is-scrolled {
  &.page-template-page-parallax-alpha {
    .l-site-header__nav {
      background-color: white;
    }
  }
}
